.edit-details {
    display: flex;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    /* background-image: url('./images/bg.png'); */
    background-color: white; /*dont forget to change this element*/
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    color: white;
    padding-top: 10%;
}

.detail, .dash-left{
    background: none;
}

.detail .detail-img {
    background: linear-gradient(to bottom, #1b1613 0%, #1b1613 50%, #795033 50%, #795033 100%);
    align-content: center;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 0 5px #00000015;
    border-radius: 10px;
}

.detail-img img {
    border-radius: 10px;
    width: 300px;
}

.detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.detail .box {
    background: none;
    max-width: 800px;
    min-width: 290px;
    margin: 20px auto;
    padding: 20px;
}

.box .row {
    background: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box .row h1, p, h3, .btns {
    background: none;
}

.edit-form {
    background: none;
}

.btns button {
    width: 33%;
    padding: 10px;
    text-align: center;
    border: none;
}

.edit-btn {
    transition: background-color 0.2s, color 0.2s;
    border-radius: 10px 0 0 10px;
    background-color: #ff7c25;
}

.edit-btn:hover {
    background-color: #795033;
    color: white;
}

.edit-btn:active {
    background-color: #c99169;
    color: white;
}

.delete-btn {
    background-color: #795033;
    transition: background-color 0.2s, color 0.2s;
    color: white;
    border-radius: 0 10px 10px 0;
}

.delete-btn:hover {
    background-color: #ff7c25;
    color: black;
}

.delete-btn:active {
    background-color: #ffa56a;
    color: black;
}