.product-details {
    display: flex;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.details, .left-detail{
    background: none;
}

.details .big-img {
    background: linear-gradient(to bottom, #1b1613 0%, #1b1613 50%, #795033 50%, #795033 100%);
    align-content: center;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 0 5px #00000015;
    border-radius: 10px;
}

.big-img img {
    border-radius: 10px;
    width: 300px;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.details .box {
    background: none;
    max-width: 800px;
    min-width: 290px;
    margin: 20px auto;
    padding: 20px;
}

.box .row {
    background: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box .row h1, p, h3, .btns {
    background: none;
}

.btns button {
    width: 33%;
    padding: 10px;
    text-align: center;
    border: none;
}

.order-btn {
    transition: background-color 0.2s, color 0.2s;
    border-radius: 10px 0 0 10px;
    background-color: #ff7c25;
}

.order-btn:hover {
    background-color: #795033;
    color: white;
}

.order-btn:active {
    background-color: #c99169;
    color: white;
}

.cart-btn {
    background-color: #795033;
    transition: background-color 0.2s, color 0.2s;
    color: white;
}

.cart-btn:hover {
    background-color: #ff7c25;
    color: black;
}

.cart-btn:active {
    background-color: #ffa56a;
    color: black;
}

.like-btn {
    transition: background-color 0.2s, color 0.2s;
    border-radius: 0 10px 10px 0;
    background-color: #ff7c25;
}

.like-btn:hover {
    background-color: #795033;
    color: white;
}

.like-btn:active {
    background-color: #c99169;
    color: white;
}